form {
    width:50%;
    max-width:500px;

    margin:auto;
    margin-top:10px;
    padding:20px;

    background-color:rgb(216, 237, 255);
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

    p{
        margin:0px;
        padding:0px;
        font-weight:500;
    }

    input, select{
        display:inline;

        width:100%;
        height:30px;

        margin-bottom:10px;

        border:1px solid rgb(161, 161, 161);
        border-radius:5px;

        box-sizing:border-box;
    }





    input[type=button]{
        display:block;

        height:30px;

        margin-top:20px;
        margin-bottom:0px;
       
        background-color:rgb(0, 102, 255);
        color:white;
        border:none;
        border-radius:5px;  
        font-weight:500; 
    }

    input[type=button]:hover{
        background-color:rgb(0, 79, 197);
    }


    #gdpr{
        display:inline;
        border:2px solid red;
        width:30px;
    }

    #gdprLabel{
        display:inline;
        font-weight:500;
        vertical-align:45%;
    }
    

    .error{
        color:red;
    }

    .bookingComplete{
        color:green;
    }
}
