body{
    background-color:rgba(48, 185, 219, 0.16) ;
}
hr{
    border: 6px solid rgb(30, 127, 152);
}
.Meny-text{
    
    text-align: center;
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(30, 127, 152);
}
.Food {
    
    position: relative;
    margin-left: 10%;
    text-align: center;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    h1{
        color: rgb(30, 127, 152);
        font-size: 2.5rem;
        font-family: 'Courier New', Courier, monospace;
    }
img {
    border: 6px solid rgb(30, 127, 152);
    border-radius: 30px;
    width: 70%;
    p{
        text-align: center;
    }
}}
.Food-text{
    border-radius: 100px;
    width: 100%;
    
}
