.Food {
    width: 70%;
    height: 50%;
    position: relative;
    margin-left: 30%;
    justify-content:space-between;
img {
    border: 2px solid rgb(48, 185, 219, 0.673);
    width: 70%;
    p{
        text-align: center;
    }
}}